*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Reem Kufi Fun';
}

a{
	text-decoration:none;
	display:inline-block;
}

li{
	list-style:none; 
}

.d-flex{
	display:flex;
}

.row{
	display:flex;
	flex-wrap:wrap; 
}

.justify-between{
	justify-content:space-between;
}

.justify-center{
    justify-content: center;
}

.relative{
	position:relative;
}	

.text-center{
	text-align:center;
}	

.align-items-center{
	align-items:center;	
}

.container{
	max-width:1140px;
	margin:0 auto;
	padding:0 15;
}

.line{
	width:50px;
	height:2px;
	background-color:#F28123;
	display:inline-block;
	margin:15px 0;
}

.mx-auto{
	margin: auto;
}

.col-1{
	width:8.33%;
}

.col-2{
	width:16.66%;
}

.col-3{
	width:25%;
}

.col-4{
	width:33.33%;
}

.col-5{
	width:41.65%;
}

.col-6{
	width:50%;
}

.col-7{
	width:58.31%;
}

.col-8{
	width:66.64%;
}

.col-9{
	width:75%;
}

.col-10{
	width:83.33%;
}

.col-11{
	width:91.63%;
}

.col-12{
	width:100%;
}

    /* HEADER */

header{
    z-index: 9;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px 30px;
}

header h4, span{
    color: white;
}

header h4{
    margin-left: 15px;
}

header a{
    color: white;
}

    /* benner */

.benner{
    background-image: url(../img/benner.jpg);
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: color;
    height: 800px;
    background-attachment: fixed;
    background-position: center;
}

.benner nav{
    font-size: 20px;
    rotate: 270deg;
    top: 40%;
    left: -11%;
    position: fixed;
}

.benner .menu{
    font-size: 20px;
    rotate: 270deg;
    right: -9%;
    bottom: 25%;
    position: fixed;
}

.benner .menu li{
    padding: 10px;
}

.benner nav li{
    padding: 10px;
}

.benner nav li a{
    color: white;
}

.line{
    border: 2px solid white;
    opacity: 0.3;
}

.benner-content{
    height: 700px;
}

.benner-content p{
    font-size: 20px;
    color: white;
}

.benner h1{
    font-size:100px;
    -webkit-text-stroke:2px white;
    color:transparent;
    letter-spacing:10px;
}

.line2{
    border: 2px solid white;
    width: 80px;
    margin-right: 15px;
}

.benner h2{
    font-size:110px;
    color: white;
    line-height: 60px;
    margin-bottom: 55px;
}

.benner .ri-arrow-down-s-line{
    color: white;
    margin-left: 10px;
    font-size: 25px;
}

.menu li a{
    color: white;
    font-size: 25px;
}

    /* ABOUT */

.background{
    background-image: url(../img/about-bg.jpg);
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: color;
    border-top: 1px solid white;
    padding: 100px 0;
    background-attachment: fixed;
}

.about h2{
    font-size: 60px;
    color: white;
}

.about h3{
    font-size: 80px;
    color: white;
    -webkit-text-stroke:2px white;
    color:transparent;
    letter-spacing:4px;
    line-height: 80px;
    margin-bottom: 30px;
}

.about p{
    color: white;
    font-size: 20px;
}

.about .ri-arrow-down-s-line{
    color: white;
    margin-left: 10px;
    font-size: 25px;
    margin-bottom: 50px;
}

.about big{
    color: white;
    font-size: 23px;
}

hr{
    margin: 50px 0;
    opacity: 0.2;
}

.about-content p{
    margin-bottom: 150px;
}

.about-content img{
    width: 480px;
    height: 720px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
}

.about-content span{
    font-size: 20px;
}

    /* SERVICES */

.service-title h2{
    font-size: 60px;
    color: white;
}

.service-title h3{
    font-size: 80px;
    color: white;
    -webkit-text-stroke:2px white;
    color:transparent;
    letter-spacing:4px;
    line-height: 80px;
    margin-bottom: 30px;
}

.service-title p{
    color: white;
    font-size: 20px;
}

.service-title .ri-arrow-down-s-line{
    color: white;
    margin-left: 10px;
    font-size: 25px;
    margin-bottom: 50px;
}

.service-title span{
    font-size: 20px;
}

.service-inner{
    padding-top: 80px;
}

.service-item {
    margin-top: 90px;
}

.service-item h4{
    color: white;
    font-size: 40px;
}

.service-item img{
    margin-top: 15px;
}

.service-item p{
    color: white;
    font-size: 22px;
    max-width: 500px;
    opacity: 0.5;
}

    /* PRODUCTS */

.product-title h2{
    font-size: 60px;
    color: white;
}

.product-title h3{
    font-size: 80px;
    color: white;
    -webkit-text-stroke:2px white;
    color:transparent;
    letter-spacing:4px;
    line-height: 80px;
    margin-bottom: 30px;
}

.product-title .ri-arrow-down-s-line{
    color: white;
    margin-left: 10px;
    font-size: 25px;
    margin-bottom: 50px;
}

.product-title p{
    color: white;
    font-size: 20px;
}

.product-title span{
    font-size: 20px;
}

.product-title{
    margin-bottom: 70px;
}

.product-item{ 
    margin: 50px 20px 0 20px;
}

.product-item h4{
    color: white;
    font-size: 30px;
    margin-bottom: 20px;
}

.product-content{
    position: absolute;    
    top: 20px;
    left: 30px;
}

.product-item h5{
    position: absolute;
    right: 20px;
    bottom: 20px;
    color: white;
    font-size: 35px;
}

.product-item p{
    color: white;
    font-size: 20px;
}

.product-item img{
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    object-fit: cover;
    transition: 0.4s;
}

.product-item img:hover{
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.product-item .ri-arrow-right-s-line{
    color: white;
    font-size: 30px;
}

    /* TEAMS */

.team-title{
    margin-bottom: 80px;
}

.team-title h2{
    font-size: 60px;
    color: white;
}

.team-title h3{
    font-size: 80px;
    color: white;
    -webkit-text-stroke:2px white;
    color:transparent;
    letter-spacing:4px;
    line-height: 80px;
    margin-bottom: 30px;
}

.team-title .ri-arrow-down-s-line{
    color: white;
    margin-left: 10px;
    font-size: 25px;
    margin-bottom: 50px;
}

.team-title p{
    color: white;
    font-size: 20px;
}

.team-title span{
    font-size: 20px;
}

.team-item, .team-bottom{ 
    margin: 0 20px 0 20px;
}

.team-item h4{
    color: white;
    font-size: 35px;
    margin-bottom: 20px;
}

.team-content{
    position: absolute;    
    left: 30px;
    bottom: 30px;
}

.team-item img{
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    object-fit: cover;
    transition: 0.4s;
}

.team-item img:hover{
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.team-content p{
    color: white;
    font-size: 22px;
    padding: 20px 0;
}

.team-bottom p{
    color: white;
    font-size: 22px;
    margin: 20px 0;
}

.team-bottom .ri-arrow-right-s-line{
    color: white;
    margin-left: 5px;
}

.team-bottom a{
    margin-bottom: 35px;
}

.team-bottom{
    border-bottom: 1px solid white;
    margin-bottom: 80px;
}

    /* REVIEWS */

.review-title h2{
    font-size: 60px;
    color: white;
}

.review-title h3{
    font-size: 80px;
    color: white;
    -webkit-text-stroke:2px white;
    color:transparent;
    letter-spacing:4px;
    line-height: 80px;
    margin-bottom: 30px;
}

.review-title .ri-arrow-down-s-line{
    color: white;
    margin-left: 10px;
    font-size: 25px;
    margin-bottom: 100px;
}

.review-title p{
    color: white;
    font-size: 20px;
}

.review-content h2{
    color: white;
    font-size: 40px;
    margin-bottom: 20px;
}

.review-content p{
    color: white;
    font-size: 20px;
}

.review-img{
   transform: translateY(-20%);
}

.review-img img{
    border-radius: 40px;
}

.review-content{
    justify-content: end;
}

.crafted{
    background-image: url(../img/crafted-bg.jpg);
    background-position: center;
    padding: 100px 0;
    height: 600px;
}

.crafted-content h2{
    color: white;
    font-size: 55px;
}

.crafted-content h3{
    font-size: 60px;
    color: white;
    -webkit-text-stroke:2px white;
    color:transparent;
    letter-spacing:4px;
    line-height: 80px;
    margin-bottom: 30px;
}

.crafted-content .ri-arrow-down-s-line{
    color: white;
    margin-left: 10px;
    font-size: 25px;
    margin-bottom: 100px;
}

.crafted-content p{
    color: white;
    font-size: 20px;
}

    /* NEWSLETTER */

.newsletter-title h2{
    color: white;
    font-size: 60px;
}

.newsletter-title h3{
    font-size: 65px;
    color: white;
    -webkit-text-stroke:2px white;
    color:transparent;
    letter-spacing:4px;
    line-height: 80px;
    margin-bottom: 30px;
}

.newsletter-title .ri-arrow-down-s-line{
    color: white;
    margin-left: 10px;
    font-size: 25px;
}

.newsletter-title p{
    color: white;
    font-size: 22px;
}

.newsletter-title input{
    background-color: transparent;
    width: 465px;
    height: 48px;
    margin-top: 50px;
    font-size: 19px;
    border: none;
    border-bottom: 2px solid white;
    outline: none;
    color: gray;
    margin-bottom: 30px;
}

    /* OFFERS */

.offer-title{
    margin-bottom: 70px;
}

.offer-title h2{
    font-size: 60px;
    color: white;
}

.offer-title h3{
    font-size: 70px;
    color: white;
    -webkit-text-stroke:2px white;
    color:transparent;
    letter-spacing:4px;
    line-height: 80px;
    margin-bottom: 30px;
}

.offer-title .ri-arrow-down-s-line{
    color: white;
    margin-left: 10px;
    font-size: 25px;
}

.offer-title p{
    color: white;
    font-size: 20px;
    margin-bottom: 35px;
}

.offer-title big{
    color: white;
    font-size: 20px;
}

.offer-item, .standard, .enterprise{
    margin: 0 20px;
}

.offer-item h3, .standard h3, .enterprise h3{
    color: white;
    font-size: 35px;
}

.offer-item .border, .standard .border, .enterprise .border{
    border: 1px solid gray;
    margin: 15px 0;
}

.offer-item h2, .standard h2, .enterprise h2{
    color: white;
    font-size: 60px;
    font-weight: 200;
}

.offer-item p, .standard p, .enterprise p{
    color: white;
    font-size: 20px;
    margin-bottom: 20px;
}

.offer-item li big, .standard li big, .enterprise li big{
    color: white;
    font-size: 20px;
}

.offer-item .ri-checkbox-circle-fill, .standard .ri-checkbox-circle-fill, .enterprise .ri-checkbox-circle-fill{
    margin-right: 8px;
}

.offer-item .ri-close-circle-fill, .standard .ri-close-circle-fill{
    margin-right: 8px;
    color: gray;
    opacity: 0.8;
}

.offer-item li, .standard li, .enterprise li{
    margin-bottom: 10px;
}

.offer-item li:nth-child(4) big{
    color: gray;
    opacity: 0.5;
}

.offer-item li:last-child big, .standard li:last-child big{
    color: gray;
    opacity: 0.5;
}

.offer-item a, .standard a, .enterprise a{
    color: white;
    font-size: 19px;
    margin-top: 20px
}

.offer-item .ri-arrow-right-s-line, .standard .ri-arrow-right-s-line, .enterprise .ri-arrow-right-s-line{
    color: white;
    font-size: 20px;
    margin-left: 10px;
}

    /* FOOTER */

footer{
    background-image: url(../img/benner.jpg);
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: color;
    background-attachment: fixed;
    background-position: center;
    padding: 100px 0;
}

.footer-content h2{
    color: white;
    font-size: 55px;
}

.footer-content p{
    color: white;
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 50px;
}

.footer-content .ri-arrow-right-s-line{
    color: white;
    font-size: 20px;
    margin-top: 15px;
    margin-left: 10px;
    margin-bottom: 50px;
}

.footer-content big{
    color: white;
    font-size: 23px;
}

.footer-content ul{
    margin-top: 30px;
}

.footer-content li a{
    color: white;
    font-size: 35px;
    margin-bottom: 15px;
}

.footer-content li{
    color: white;
    font-size: 20px;
    margin-bottom: 15px;
}

.footer-form input{
    background-color: transparent;
    width: 455px;
    height: 48px;
    padding: 0 10px;
    color: white;
    border: none;
    border-bottom: 2px solid white;
    outline: none;
    font-size: 20px;
    margin-bottom: 15px;
}

.footer-form textarea{
    background-color: transparent;
    width: 455px;
    height: 140px;
    padding: 10px 10px;
    color: white;
    border: none;
    border: 2px solid white;
    font-size: 20px;
    display: block;
    outline: none;
}

::placeholder{
    font-family: 'Reem Kufi Fun';
}

.footer-form button{
    background-color: transparent;
    color: white;
    font-size: 20px;
    border: none;
    margin-top: 35px;
}

.footer-form .ri-arrow-right-s-line{
    color: white;
    font-size: 20px;
    margin-left: 10px;
}